# Ignore node.js modules and dependencies
node_modules/
yarn.lock
yarn-error.log

# Ignore Expo related files and directories
.expo/

# Ignore build output directories
dist/
web-build/
ios

# Ignore debugging files
npm-debug.*

# Ignore various sensitive files
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.env
# Ignore backup or original files
*.orig.*

# macOS system file to ignore
.DS_Store

# Temporary files created by Metro
.metro-health-check*
